body {
    background-color: #FEFAE0;
    font-family: Garamond;
    margin: 20px;
    text-align: center;
}

.divider_one {
    border-top: 3px dotted #283618;
}

.title {
    text-align: center;
    font-family: Georgia;
    color: #606C38;
}

.grid-container {
    display: inline-grid;
    column-gap: 50px;
    gap: 50px;
}

.math_equation {
    font-style: italic;
    font-family: 'Times New Roman';
}

a {
    outline: none;
}

a:link {
    color: #606C38;
}

a:visited {
    color: #BC6C25;
}

a:hover {
    text-decoration: none;
    background: #DDA15E;
}

.row {
    display: flex;
}

.column {
    flex: 25%
}

.subject-button {
    position: relative;
    margin: auto;
    width: 120px;
    text-align: center;
    color: #606C38;
    font-size: 20px;
    border: 2px solid #dde5b6;
    border-radius: 10px;
    background: #dde5b6;
    transition: all 0.3s;
    cursor: pointer;
}

.subject-button a {
    text-decoration: none;
}

.subject-button::before, .subject-button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #606C38;
    transition: all 0.5s;
    -webkit-animation: clippath 3s infinite linear;
            animation: clippath 3s infinite linear;
}

@-webkit-keyframes clippath {
    0%, 100% {
        -webkit-clip-path: inset(0 0 98% 0);
                clip-path: inset(0 0 98% 0);
    }
    25% {
        -webkit-clip-path: inset(0 98% 0 0);
                clip-path: inset(0 98% 0 0);
    }
    50% {
        -webkit-clip-path: inset(98% 0 0 0);
                clip-path: inset(98% 0 0 0);
    }
    75% {
        -webkit-clip-path: inset(0 0 0 98%);
                clip-path: inset(0 0 0 98%);
    }
}

@keyframes clippath {
    0%, 100% {
      -webkit-clip-path: inset(0 0 98% 0);
              clip-path: inset(0 0 98% 0);
    }
    25% {
      -webkit-clip-path: inset(0 98% 0 0);
              clip-path: inset(0 98% 0 0);
    }
    50% {
      -webkit-clip-path: inset(98% 0 0 0);
              clip-path: inset(98% 0 0 0);
    }
    75% {
      -webkit-clip-path: inset(0 0 0 98%);
              clip-path: inset(0 0 0 98%);
    }
  }


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    body {
        margin: 5px;
    }
}