body {
    background-color: #FEFAE0;
    font-family: Garamond;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.divider_one {
    border-top: 3px dotted #283618;
}

.title {
    text-align: center;
    font-family: Georgia;
    color: #606C38;
}

.grid-container {
    display: inline-grid;
    column-gap: 50px;
    gap: 50px;
}

.math_equation {
    font-style: italic;
    font-family: 'Times New Roman';
}

a {
    color: #BC6C25;
    cursor: pointer;
    text-decoration: none;
}

.row {
    display: flex;
}

.column {
    flex: 25%
}

.subject-button {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: #BC6C25;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
    }
    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
    }
    body {
        margin: 5px;
    }
}