html {
	margin-right: 15%;
	margin-left: 15%;
	padding: 0;
	text-align: left;
	background: #f8f5f2; 
}

body { 
	font: 100% monospace;
	line-height: 1.88889;
	color: #232323; 
	margin: 0; 
	padding: 0;
}

p {
	margin-top: 0;
}

h2 {
	font: bold normal 1.6m monospace;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #078080;
	text-align: left;
}

h3 { 
	font: italic normal 1.6em monospace;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #078080;
	text-align: left;
}

h4 { 
	font: italic normal 1.4em monospace;
	letter-spacing: 1px;
	margin-bottom: 0; 
	color: #078080;
	text-align: left;
}

a {
	color: #f45d48;
}

a:hover {
	color: #078080;
}

abbr {
	border-bottom: none;
	color: #232323;
}

def {
	color: #232323;
}

header {
	padding-top: 20px;
	height: 87px;
	text-align: center;
}

footer {
	text-align: center;
}

footer a:link, footer a:visited {
	margin-right: 20px;
}

h1 {
	font: bold normal 2em monospace;
	text-align: center;
}

.callout {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	padding: 15px;
	text-align: left;
}

@media screen and (max-width: 600px) {
	html {
		margin-right: 7.5%;
		margin-left: 7.5%;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}
