body {
    background-color: #FEFAE0;
    font-family: Garamond;
    border: 5% solid #FEFAE0;
}

.divider_one {
    border-top: 3px dotted #283618;
}

.title {
    text-align: center;
    font-family: Georgia;
    color: #606C38;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    body {
        border: 4% solid #FEFAE0;
    }
    .column {
        width: 100%
    }
}