body {
    background-color: #FEFAE0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5% solid #FEFAE0;
}

.divider_one {
    border-top: 3px dotted #283618;
}

.title {
    text-align: center;
}