<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/the-merchant/assets/css/main.css">
  <link rel="icon" type="image" href="/the-merchant/assets/images/dune-elf.png">
</head>
<body>
  <header>
    <h1>The Merchant of Harzavad</h1>
  </header>
  <hr class="divider_one">
  {{ content }}
  <hr class="divider_one">
  <footer>
    <p>Made by <abbr>DonalTony</abbr> using <abbr>GitHub Pages</abbr></p>
    <p>Return to the <a href="https://harzavad.github.io/the-merchant/">stall front</a></p>
    <p>Contact me at <a href="#">donaltony2008@gmail.com</a></p>
    <img src="/the-merchant/assets/images/dune-elf.png" height="100px">
  </footer>
</body>
