<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>The Merchant</title>
  <link rel="stylesheet" href="/the-merchant/assets/css/main.css">
</head>
<body>
  <header>
    <h1>The Merchant of Harzavad</h1>
  </header>
  <hr class="divider_one">
  {{ content }}
  <hr class="divider_one">
  <footer>
    <p>Made by <abbr>DonalTony</abbr> using <abbr>GitHub Pages</abbr></p>
    <p>Return to the <a href="https://harzavad.github.io/the-merchant/">home page</a></p>
    <img src="https://static.wikia.nocookie.net/gensin-impact/images/c/cd/Item_Lamp_of_the_Lost.png/revision/latest?cb=20220824130432">
  </footer>
</body>