<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/the-merchant/assets/css/main.css">
  <link rel="icon" type="image" href="/the-merchant/assets/images/dune-elf.png">
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
</head>
<body>
  <header>
    <h1>┏━━━━━━༻❁༺━━━━━━┓</h1>
    <h1>The Merchant of Harzavad</h1>
  </header>
  <hr class="divider_one">
  {{ content }}
  <hr class="divider_one">
  <footer>
    <p>Made by <abbr>DonalTony</abbr> using <abbr>GitHub Pages</abbr></p>
    <p>Return to the <a href="https://harzavad.github.io/the-merchant/">stall front</a></p>
    <p>Contact me at <a href="mailto:donaltony2008@gmail.com">donaltony2008@gmail.com</a></p>
    <h1>┗━━━━━━༻❁༺━━━━━━┛</h1>
  </footer>
</body>
